# OS File #
############################
.DS_Store


# Cache Files #
############################


# data Files #
############################
/AI/data/
/AI/DataCollecting/data


# Output File #
############################
*.out
/*/wandb
/wandb